
.base {

    margin-left: 5vw;
    margin-top: 1vw;
    margin-right: 5vw;

}

/* ------------- Judges List --------------- */

.judgesList {

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;

}

.judgesList > div {
    flex: 20vw;
    max-width: 30vw;
    text-align: center;
    justify-content: space-between; 

    margin: 1vw;

    overflow: hidden;
    min-height: 25vw;
    border-radius: 30px;
    box-shadow: 0 5px 10px 5px #00000025;
    transition: box-shadow 0.5s; 
    
}

.judgesList > div:hover {
    
    box-shadow: 0 8px 10px 8px #00000036;

}





/* ------------- Responsive Design ---------- */


@media only screen and (max-width: 767px) { 

    .judgesList {

        display: block;
    
    }

    .judgesList > div {

        max-width: 70vw;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        
        
        border-radius: 30px;
        box-shadow: 0 5px 10px 5px #00000025;
        transition: box-shadow 0.5s; 
    
        overflow: hidden;
        
        
    }

}
